<a href="https://colab.research.google.com/github/SaurabhSRP/Missing_Values---Categorical_Encoding----Transformations/blob/main/Handling_Categorical_feature_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Handle Categorical Features**

#**1st Technique - One Hot Encoding**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/datasets/Titanic/train (1).csv",usecols=["Sex"])

In [ ]:
df.head()
#this categorical feature as two variable male n female

      Sex
0    male
1  female
2  female
3  female
4    male

In [ ]:
#One hot Encoding using pandas 
pd.get_dummies(df).head()
#we can remove one feature as other feature will represent both

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [ ]:
#one method to drop is using dropfirst
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [ ]:
df2=pd.read_csv("/content/drive/MyDrive/datasets/Titanic/train (1).csv",usecols=['Embarked'])
df2.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [ ]:
df2['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
#lets drop this nan values
df2.dropna(inplace=True)

In [ ]:
df2['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [ ]:
#One hot encoding use pandas 
pd.get_dummies(df2,drop_first=False).head()
#we can drop one feature as other two can represent the third feature

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [ ]:
pd.get_dummies(df2,drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

###DIsadvantage 
####1) Creates too many feautres

#**2nd Technique**

#**one hot encoding - with many categories in a feature**

In [ ]:
df3=pd.read_csv("/content/drive/MyDrive/datasets/Mercedes/train.csv",usecols=["X0","X1","X3","X4","X5","X6"])
df3.head()

   X0 X1 X3 X4 X5 X6
0   k  v  a  d  u  j
1   k  t  e  d  y  l
2  az  w  c  d  x  j
3  az  t  f  d  x  l
4  az  v  f  d  h  d

In [ ]:
df3['X0'].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [ ]:
#length of the value
len(df3['X0'].unique())
#that many unique features are there

47

In [ ]:
#similarly lets count the unique values for all the categories 
for i in df3.columns:
  print(len(df[i].unique()))

KeyError: ignored

###we use only top 10 most categories

In [ ]:
df3.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [ ]:
##picking all indexs 
lst_10=df3.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

In [ ]:
#convert all the indexes into list 
lst_10=list(lst_10)
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [ ]:
#perform hot encoding for this top 10 features , rest of the features we are going to neglect it 
for categories in lst_10:
  df3[categories]=np.where(df3['X1']==categories,1,0)

In [ ]:
df3[lst_10]

      aa  s  b  l  v  r  i  a  c  o
0      0  0  0  0  1  0  0  0  0  0
1      0  0  0  0  0  0  0  0  0  0
2      0  0  0  0  0  0  0  0  0  0
3      0  0  0  0  0  0  0  0  0  0
4      0  0  0  0  1  0  0  0  0  0
...   .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0
4205   0  0  0  0  0  0  0  0  0  1
4206   0  0  0  0  1  0  0  0  0  0
4207   0  0  0  0  0  1  0  0  0  0
4208   0  0  0  0  0  1  0  0  0  0

[4209 rows x 10 columns]

#**3rd Technique - ordinal number encoding**

##consider a ordinal data for example grades - A,B,C,D,F
### which we can rank them such as A-1 , B-2 , C-3 etc 
####similarly experience of batsman we can rank them based on number of years of experience 

##similarly for weekdays

In [ ]:
#for dates and times
import datetime

In [ ]:
#for todays date
today_date=datetime.datetime.today()
today_date

datetime.datetime(2022, 6, 11, 5, 36, 8, 998177)

In [ ]:
##difference between two date values #one represent the no. of days, delta means no. of days 
today_date-datetime.timedelta(1)

datetime.datetime(2022, 6, 10, 5, 36, 8, 998177)

In [ ]:
###list comprehension 
days=[today_date-datetime.timedelta(x) for x in range(0,15)]
days

[datetime.datetime(2022, 6, 11, 5, 36, 8, 998177),
 datetime.datetime(2022, 6, 10, 5, 36, 8, 998177),
 datetime.datetime(2022, 6, 9, 5, 36, 8, 998177),
 datetime.datetime(2022, 6, 8, 5, 36, 8, 998177),
 datetime.datetime(2022, 6, 7, 5, 36, 8, 998177),
 datetime.datetime(2022, 6, 6, 5, 36, 8, 998177),
 datetime.datetime(2022, 6, 5, 5, 36, 8, 998177),
 datetime.datetime(2022, 6, 4, 5, 36, 8, 998177),
 datetime.datetime(2022, 6, 3, 5, 36, 8, 998177),
 datetime.datetime(2022, 6, 2, 5, 36, 8, 998177),
 datetime.datetime(2022, 6, 1, 5, 36, 8, 998177),
 datetime.datetime(2022, 5, 31, 5, 36, 8, 998177),
 datetime.datetime(2022, 5, 30, 5, 36, 8, 998177),
 datetime.datetime(2022, 5, 29, 5, 36, 8, 998177),
 datetime.datetime(2022, 5, 28, 5, 36, 8, 998177)]

In [ ]:
data=pd.DataFrame(days)
data.columns=["Day"]
data.head()

                         Day
0 2022-06-11 05:36:08.998177
1 2022-06-10 05:36:08.998177
2 2022-06-09 05:36:08.998177
3 2022-06-08 05:36:08.998177
4 2022-06-07 05:36:08.998177

In [ ]:
##to retrive day or month or time 
data['Day'].dt.day 
#dt.hour
#dt.month etc

0     11
1     10
2      9
3      8
4      7
5      6
6      5
7      4
8      3
9      2
10     1
11    31
12    30
13    29
14    28
Name: Day, dtype: int64

In [ ]:
data['weekday']=data['Day'].dt.day_name()
data.head()

                         Day    weekday
0 2022-06-11 05:36:08.998177   Saturday
1 2022-06-10 05:36:08.998177     Friday
2 2022-06-09 05:36:08.998177   Thursday
3 2022-06-08 05:36:08.998177  Wednesday
4 2022-06-07 05:36:08.998177    Tuesday

In [ ]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}

In [ ]:
dictionary

{'Friday': 5,
 'Monday': 1,
 'Saturday': 6,
 'Sunday': 7,
 'Thursday': 4,
 'Tuesday': 2,
 'Wednesday': 3}

In [ ]:
#lets map this using map function
data['weekday_ordinald']=data['weekday'].map(dictionary)
data['weekday_ordinald']

0     6
1     5
2     4
3     3
4     2
5     1
6     7
7     6
8     5
9     4
10    3
11    2
12    1
13    7
14    6
Name: weekday_ordinald, dtype: int64

In [ ]:
data.head()

                         Day    weekday  weekday_ordinald
0 2022-06-11 05:36:08.998177   Saturday                 6
1 2022-06-10 05:36:08.998177     Friday                 5
2 2022-06-09 05:36:08.998177   Thursday                 4
3 2022-06-08 05:36:08.998177  Wednesday                 3
4 2022-06-07 05:36:08.998177    Tuesday                 2

#**4th technique - Count or Frequency Encoding**

In [ ]:
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , header = None,index_col=None)
train_set.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
columns=[1,3,5,6,7,8,9,13]

In [ ]:
train_set=train_set[columns]

In [ ]:
train_set.columns=['Employment','Degree','Status','Designation','family_job','Race','Sex','Country']

In [ ]:
train_set.head()

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [ ]:
##checking all no. of labels
for features in train_set.columns[:]:
  print(features,':',len(train_set[features].unique()),'labels')

Employment : 9 labels
Degree : 16 labels
Status : 7 labels
Designation : 15 labels
family_job : 6 labels
Race : 5 labels
Sex : 2 labels
Country : 42 labels

In [ ]:
train_set['Country'].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: Country, dtype: int64

In [ ]:
##lets convert the above data to dictionary
train_set['Country'].value_counts().to_dict()
##so basically we will encode valuecounts with the country names , this is frequency encoding, replace country name with its frequency

{' ?': 583,
 ' Cambodia': 19,
 ' Canada': 121,
 ' China': 75,
 ' Columbia': 59,
 ' Cuba': 95,
 ' Dominican-Republic': 70,
 ' Ecuador': 28,
 ' El-Salvador': 106,
 ' England': 90,
 ' France': 29,
 ' Germany': 137,
 ' Greece': 29,
 ' Guatemala': 64,
 ' Haiti': 44,
 ' Holand-Netherlands': 1,
 ' Honduras': 13,
 ' Hong': 20,
 ' Hungary': 13,
 ' India': 100,
 ' Iran': 43,
 ' Ireland': 24,
 ' Italy': 73,
 ' Jamaica': 81,
 ' Japan': 62,
 ' Laos': 18,
 ' Mexico': 643,
 ' Nicaragua': 34,
 ' Outlying-US(Guam-USVI-etc)': 14,
 ' Peru': 31,
 ' Philippines': 198,
 ' Poland': 60,
 ' Portugal': 37,
 ' Puerto-Rico': 114,
 ' Scotland': 12,
 ' South': 80,
 ' Taiwan': 51,
 ' Thailand': 18,
 ' Trinadad&Tobago': 19,
 ' United-States': 29170,
 ' Vietnam': 67,
 ' Yugoslavia': 16}

In [ ]:
##frequnecy encoding
country_map=train_set["Country"].value_counts().to_dict()

In [ ]:
train_set['Country']=train_set['Country'].map(country_map)
train_set.head(20)

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95
5,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,29170
6,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,81
7,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
8,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,29170
9,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
10,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,29170
11,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,100
12,Private,Bachelors,Never-married,Adm-clerical,Own-child,White,Female,29170
13,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,29170
14,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,583
15,Private,7th-8th,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,643
16,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,29170
17,Private,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,29170
18,Private,11th,Married-civ-spouse,Sales,Husband,White,Male,29170
19,Self-emp-not-inc,Masters,Divorced,Exec-managerial,Unmarried,White,Female,29170

###Advantages
####1) Not increasing feature space 

###Disadvantage
####1) not be able to handle when the frequency of a feature is same or provide the same weight if frequency are same

#**5th Technique - Target Guided Oridnal Encoding**

###1) ordering the labels according to target
###2) Replace the labels by the joint probability of being 1 or 0

In [ ]:
titanic=pd.read_csv("/content/drive/MyDrive/datasets/Titanic/train (1).csv",usecols=['Cabin','Survived'])
titanic.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [ ]:
titanic['Cabin'].fillna('Missing',inplace=True)

In [ ]:
titanic.head(20)

    Survived    Cabin
0          0  Missing
1          1      C85
2          1  Missing
3          1     C123
4          0  Missing
5          0  Missing
6          0      E46
7          0  Missing
8          1  Missing
9          1  Missing
10         1       G6
11         1     C103
12         0  Missing
13         0  Missing
14         0  Missing
15         1  Missing
16         0  Missing
17         1  Missing
18         0  Missing
19         1  Missing

In [ ]:
#all the cabin starts with some letter example C or G etc , lets extract those Cabin Alphabets 
titanic['Cabin']=titanic['Cabin'].astype(str).str[0]

In [ ]:
titanic.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [ ]:
##another way to see
titanic['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [ ]:
titanic.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [ ]:
titanic.groupby(['Cabin'])['Survived'].mean().sort_values()

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [ ]:
titanic.groupby(['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [ ]:
ordinal_labels=titanic.groupby(['Cabin'])['Survived'].mean().sort_values().index

In [ ]:
##we will do mapping from now 
enumerate(ordinal_labels,0)

In [ ]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'A': 2, 'B': 6, 'C': 4, 'D': 8, 'E': 7, 'F': 5, 'G': 3, 'M': 1, 'T': 0}

In [ ]:
titanic['Cabin_ordinal_labels']=titanic['Cabin'].map(ordinal_labels2)
titanic.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

#**6th technique - Mean Encoding**

In [ ]:
##basically in previous titanic dataset , the below code is mean encoding , its similar to target ordinal encoding but here we will encode the values with the mean
titanic.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [ ]:
mean_ordinal=titanic.groupby(['Cabin'])['Survived'].mean().to_dict()
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [ ]:
titanic['mean_ordinal_encode']=titanic['Cabin'].map(mean_ordinal)
titanic.head()

   Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854

#**7th Technique - Probability Ration Encoding**

In [ ]:
dat=pd.read_csv("/content/drive/MyDrive/datasets/Titanic/train (1).csv",usecols=["Cabin","Survived"])
dat.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [ ]:
##Replacing 
dat['Cabin'].fillna('Missing',inplace=True)

In [ ]:
dat['Cabin'].unique()

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [ ]:
##we will just take FIrst letter of the those categories 
dat['Cabin']=dat['Cabin'].astype(str).str[0]
dat.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [ ]:
 dat['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [ ]:
##Probability ration encoding
##find the percentage of survived
dat.groupby(['Cabin'])['Survived'].mean()
##we will consider as our probability
prob_dat=dat.groupby(['Cabin'])['Survived'].mean()

In [ ]:
prob_dat=pd.DataFrame(prob_dat)
prob_dat

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [ ]:
##1-survived gives the percentage died , which we will use to find the survivals
prob_dat['Died']=1-prob_dat['Survived']

In [ ]:
prob_dat['Died']

Cabin
A    0.533333
B    0.255319
C    0.406780
D    0.242424
E    0.250000
F    0.384615
G    0.500000
M    0.700146
T    1.000000
Name: Died, dtype: float64

In [ ]:
prob_dat.head()

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [ ]:
###Probabilty formula = Probability of survived / Probability of died
prob_dat['Probability_ratio']=prob_dat['Survived']/prob_dat['Died']

In [ ]:
prob_dat.head()

       Survived      Died  Probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [ ]:
##Convert this to a dictionary 
prob_dat["Probability_ratio"].to_dict()
##lets save it to a variable
probability_encoded=prob_dat["Probability_ratio"].to_dict()

In [ ]:
dat['Cabin_Encoded']=dat['Cabin'].map(probability_encoded)

In [ ]:
dat.head()

   Survived Cabin  Cabin_Encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274